.DS_Store
build/
src/build/
src/FBIRD.EXE
src/fbird.lst
src/res_pal.asm
src/sfx_len.asm
src/assets/*.bin
src/assets/*.raw
assets/cutted/
assets/resources/
tools/__pycache__/
__pycache__/
*.pyc
**/.vs/
**/bin/
**/obj/
